.baseCell {
    width: 80px;
    height: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.clickableCell {
    composes: baseCell;
    width: 60px;
    height: 60px;
    margin: 10px;    
}

.inactiveClickableCell {
    composes: clickableCell;
    background-color: black;
}

.activeClickableCell {
    composes: clickableCell;
    background-color: yellow;
}